<div class="individual_question" id="<%= @current_organization %>_<%= test_name %>">
  <h4 class="ruda700"><%= test_name_full %></h4>

  <% if @test_session.organization_has_test_results?(@current_organization, test_name) %>
      <% @test_session.get_latest_result_for_test_by_organization(@current_organization, test_name).each do |key, value| %>
        <span class="individual_answer <% if value['is_in_database?'] == 'yes' && value['can_log_in?'] == 'yes' %>question_success<% else %>question_fail<% end %>">

          <%= value['admin_email'] %>

          <% if value['is_in_database?'] == 'yes' %>
            is in the database
          <% else %>
            is not in the database
          <% end %> and

          <% if value['can_log_in?'] == 'yes' %>
            can log in.
          <% else %>
            cannog log in.
          <% end %><br>
        </span>
      <% end %>
<<<<<<< HEAD
  <%= erb :'views/test-sessions/manual_trigger', :locals => { :test_name => test_name } %>
  <% else %>
    <span class="individual_answer">Automated results have not yet been posted for this test.</span>
  
  <% end %>
  <%= erb :'views/test-sessions/manual_trigger', :locals => { :test_name => test_name } %>

</div>
>>>>>>> 40bd34c9c2262783bb28e215a49640a2475a1971
