<div class="individual_question" id="<%= @current_organization %>_<%= test_name %>">
  <h4 class="ruda700"><%= test_name_full %></h4>
  <!-- Start of answer -->
  <% if @test_session.organization_has_test_results?(@current_organization, test_name) %>
      <% org_info = @test_session.get_latest_result_for_test_by_organization(@current_organization, test_name) %>
        <span class="individual_answer">
          <%= org_info['organization_id'] %>
          <%= org_info['organization_name'] %>
          <%= org_info['primary_admin_email'] %>
          <%= org_info['total_key_count'] %>
          <%= org_info['subdomain'] %>
        </br>
        </span>
  <!-- End of answer -->
  <% else %>
  
  <!-- Start of copy for no results generatred yet -->
    <span class="individual_answer">Automated results have not yet been posted for this test.</span><br>
  <!-- End of copy for no results generatred yet -->
 
  <% end %>
  <%= erb :'views/test-sessions/manual_trigger', :locals => { :test_name => test_name } %>
</div>
