<p>Current Status</p>
<div class="btn-group l_10_top_margin">
  <form action="/utilities/test_results" method="POST" style="display: inline;">
    <input id='manual-pass-organization-id' type='hidden' name='organization_id' value='<%= 1042 %>'>
    <input id='manual-pass-test-name' type='hidden' name='test_name' value='<%= test_name %>'>
    <input id='manual-pass-test-results' type='hidden' name='test_results' value='<%= { :outcome => :pass }.to_json %>'>
    <input type="submit" value="Pass" class="btn btn-xs btn-success">
  </form>
  <form action="/utilities/test_results" method="POST" style="display: inline;">
    <input id='manual-fail-organization-id' type='hidden' name='organization_id' value='<%= 1042 %>'>
    <input id='manual-fail-test-name' type='hidden' name='test_name' value='<%= test_name %>'>
    <input id='manual-fail-test-results' type='hidden' name='test_results' value='<%= { :outcome => :fail }.to_json %>'>
    <input type="submit" value="Fail" class="btn btn-xs btn-danger">
  </form>
</div>
<br/>
<br/>
