<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= @current_test_session.session_date %></title>

  <!-- Bootstrap -->
  <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>

  <!-- Application Style -->
  <link href="css/the-migrator.css" rel="stylesheet">
  <link href="css/questions.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<%= erb :'views/test-sessions/nav_partial' %>

<div class="container l_semiwhite ruda400 l_20_bottom_margin">
  <div class="row">
    <div class="col-md-12 l_20_bottom_margin">
      <h1 class="ruda900 l_no_bottom_margin">Test Session for <%= @current_test_session.session_date %></h1>
      <em>Verification Last Updated: <%= Time.now.strftime('%l:%M:%S %p') %> EST</em>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 l_20_bottom_margin">
      <ul class="l_ul">
        <% @current_test_session.scheduled_organization_list.each do |organization_id| %>
            <% completion_count = @current_test_session.get_test_completion_count_by_organization(organization_id) %>
            <li><a href="#" class="menu_item" id="menu_<%= organization_id %>" data-result="<%= organization_id %>">ORG ID: <%= organization_id %> (<%=completion_count[:number_of_tests_passed] %>/<%= completion_count[:number_of_tests] %>)</a></li>
        <% end %>
      </ul>
      <hr>
      <div>
        <button class="btn btn-sm" href="/<%= @current_test_session.id %>/edit" style="display: inline;">Edit </button>
        <form action="/<%= @current_test_session.id %>" method="POST"  style="display: inline;">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete" class="btn btn-sm" style="display: inline;">
        </form>
      </div>

    </div>

    <div class="col-md-10">

      <% @current_test_session.scheduled_organization_list.each do |organization_id| %>
        <% @current_organization = organization_id%>
        <% current_org_info = @current_test_session.get_latest_result_for_test_by_organization(@current_organization, 'organization_information') %>
        <% current_org_name = current_org_info == [:no_results] ? '' : current_org_info['organization_name'] %>
        <% completion_count = @current_test_session.get_test_completion_count_by_organization(organization_id) %>
        <div class="results" id="result_<%= @current_organization %>">
          <h2 class="ruda900 l_no_top_margin">ORG #<%= @current_organization %> <%= current_org_name %></h2>
          <h3 class="ruda700 l_no_top_margin">Verification Phases Passed: <%=completion_count[:number_of_tests_passed] %>/<%= completion_count[:number_of_tests] %></h3>
          <ul class="test_progress">
            <li><%= erb :'views/test-sessions/test_status', :locals => { :organization_id => organization_id, :test_name => 'organization_information' } %>
              <a class="task_list" data-question_w_org="<%= organization_id %>_organization_information">Organization Information</a></li>

            <li><%= erb :'views/test-sessions/test_status', :locals => { :organization_id => organization_id, :test_name => 'key_report_results' } %>
              <a class="task_list" data-question_w_org="<%= organization_id %>_key_report_results">Does the "keys report" have all Legacy/Scidea Diff checks set to OK?</a></li>

            <li><%= erb :'views/test-sessions/test_status', :locals => { :organization_id => organization_id, :test_name => 'organization_key_counts' } %>
              <a class="task_list" data-question_w_org="<%= organization_id %>_organization_key_counts">Are the Global Key counts OK?</a></li>

            <li><%= erb :'views/test-sessions/test_status', :locals => { :organization_id => organization_id, :test_name => 'sco_report_results' } %>
              <a class="task_list" data-question_w_org="<%= organization_id %>_sco_report_results">Does the "sco records report" have all Legacy/Scidea Diff checks set to OK?</a></li>

            <li><%= erb :'views/test-sessions/test_status', :locals => { :organization_id => organization_id, :test_name => 'sco_sample_investigation' } %>
              <a class="task_list" data-question_w_org="<%= organization_id %>_sco_sample_investigation">Key sample investigation</a></li>

            <li><%= erb :'views/test-sessions/test_status', :locals => { :organization_id => organization_id, :test_name => 'admins_with_organization_access' } %>
              <a class="task_list" data-question_w_org="<%= organization_id %>_admins_with_organization_access">Do all key admins have access to the OKM?</a></li>

            <li><%= erb :'views/test-sessions/test_status', :locals => { :organization_id => organization_id, :test_name => 'subdomain' } %>
              <a class="task_list" data-question_w_org="<%= organization_id %>_subdomain">Is the subdomain correct?</a></li>

            <li><%= erb :'views/test-sessions/test_status', :locals => { :organization_id => organization_id, :test_name => 'admin_profile_information' } %>
              <a class="task_list" data-question_w_org="<%= organization_id %>_admin_profile_information">AS ADMIN: Is the information in my profile accurate?</a></li>

            <li><%= erb :'views/test-sessions/test_status', :locals => { :organization_id => organization_id, :test_name => 'main_links_500' } %>
              <a class="task_list" data-question_w_org="<%= organization_id %>_main_links_500">Can I click on all the main links without having a 500 error?</a></li>

            <li><%= erb :'views/test-sessions/test_status', :locals => { :organization_id => organization_id, :test_name => 'key_state_500' } %>
              <a class="task_list" data-question_w_org="<%= organization_id %>_key_state_500">Can I navigate through all the keys states without having a 500 error?</a></li>

            <li><%= erb :'views/test-sessions/test_status', :locals => { :organization_id => organization_id, :test_name => 'global_search' } %>
              <a class="task_list" data-question_w_org="<%= organization_id %>_global_search">Does global search function properly?</a></li>

            <li><%= erb :'views/test-sessions/test_status', :locals => { :organization_id => organization_id, :test_name => 'key_state_script' } %>
              <a class="task_list" data-question_w_org="<%= organization_id %>_key_state_script">Has the key state script been properly run? Check in global search to make sure key states match.</a></li>

            <li><%= erb :'views/test-sessions/test_status', :locals => { :organization_id => organization_id, :test_name => 'groups' } %>
              <a class="task_list" data-question_w_org="<%= organization_id %>_groups">Do groups seem consistent?</a></li>

            <li><%= erb :'views/test-sessions/test_status', :locals => { :organization_id => organization_id, :test_name => 'user_profiles' } %>
              <a class="task_list" data-question_w_org="<%= organization_id %>_user_profiles">Do all users have profiles?</a></li>

            <li><%= erb :'views/test-sessions/test_status', :locals => { :organization_id => organization_id, :test_name => 'user_course_records' } %>
              <a class="task_list" data-question_w_org="<%= organization_id %>_user_course_records">Do all users have course records?</a></li>

            <li><%= erb :'views/test-sessions/test_status', :locals => { :organization_id => organization_id, :test_name => 'inactive_keys' } %>
              <a class="task_list" data-question_w_org="<%= organization_id %>_inactive_keys">Are there any 'inactive' key states?</a></li>

            <li><%= erb :'views/test-sessions/test_status', :locals => { :organization_id => organization_id, :test_name => 'external_course_continuation' } %>
              <a class="task_list" data-question_w_org="<%= organization_id %>_external_course_continuation">Can users in progress at external courses continue where they left off externally?</a></li>
          </ul>
          <%= erb :'views/test-sessions/questions' %>

        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<!--  Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Ruda:400,700,900' rel='stylesheet' type='text/css'>

<script>
  $( ".results" ).hide();

  $( ".menu_item" ).click(function() {
    $( ".results" ).hide();
    var result = $(this).data("result")
    $("#result_"+result).show();
  });
</script>

<script>
  var $root = $('html, body');
  $('.task_list').click(function() {
    var question_w_org = $(this).data("question_w_org")
    // alert(question_w_org);
    
    $('html, body').animate({scrollTop:$('#'+question_w_org).position().top}, 'slow');
  });
</script>

<!-- jQueryUI -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script>
        $( "#key-count-sections" ).tabs();
</script>

</body>
</html>