<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= @test_session.session_date %></title>

  <!-- Bootstrap -->
  <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">

  <!-- Application Style -->
  <link href="css/the-migrator.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<%= erb :'views/test-sessions/nav_partial' %>

<%#= erb :'views/test-sessions/temp_dump' %>

<div class="container l_semiwhite ruda400 l_20_bottom_margin">
  <div class="row">
    <div class="col-md-12 l_20_bottom_margin">
      <h1 class="ruda900 l_no_bottom_margin">Test Session for <%= @test_session.session_date %></h1>
      <em>Verification Last Updated: <%= Time.now.strftime('%l:%M:%S %p') %> EST</em>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 l_20_bottom_margin">
      <ul class="l_ul">
        <% @test_session.scheduled_organization_list.each do |organization_id| %>
            <li><a href="#" class="menu_item" id="menu_<%= organization_id %>" data-result="<%= organization_id %>">ORG ID: <%= organization_id %></a></li>
        <% end %>
      </ul>
      <hr>
      <div>
        <button class="btn btn-sm" href="/<%= @test_session.id %>/edit" style="display: inline;">Edit </button>
        <form action="/<%= @test_session.id %>" method="POST"  style="display: inline;">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete" class="btn btn-sm" style="display: inline;">
        </form>
      </div>

    </div>

    <div class="col-md-10">

      <% @test_session.scheduled_organization_list.each do |organization_id| %>
        <% @current_organization = organization_id%>
        <div class="results" id="result_<%= @current_organization %>">
          <h2 class="ruda900 l_no_top_margin">ORG #<%= @current_organization %> (ORG Name)</h2>
          <h3 class="ruda700 l_no_top_margin">Automatated Verification Phases Passed: 13/15</h3>
          <ul class="test_progress">
            <li>Test 1 (Passed / Failed)</li>
            <li>Test 2 (Passed / Failed)</li>
            <li>Test 3 (Passed / Failed)</li>
            <li>Test 4 (Passed / Failed)</li>
            <li><a class="task_list" data-question_w_org="<%= organization_id %>_admins_with_organization_access">Do all key admins have access to the OKM? (Passed / Failed)</a></li>
            <li>Test 6 (Passed / Failed)</li>
            <li>Test 7 (Passed / Failed)</li>
            <li>Test 8 (Passed / Failed)</li>
            <li>Test 9 (Passed / Failed)</li>
            <li>Test 10 (Passed / Failed)</li>
            <li>Test 11 (Passed / Failed)</li>
            <li>Test 12 (Passed / Failed)</li>
            <li>Test 13 (Passed / Failed)</li>
            <li>Test 14 (Passed / Failed)</li>
            <li>Test 15 (Passed / Failed)</li>
          </ul>
          <%= erb :'views/test-sessions/questions' %>

        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<!--  Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Ruda:400,700,900' rel='stylesheet' type='text/css'>


<script>
  $( ".results" ).hide();

  $( ".menu_item" ).click(function() {
    $( ".results" ).hide();
    var result = $(this).data("result")
    $("#result_"+result).show();
  });
</script>

<script>
  var $root = $('html, body');
  $('.task_list').click(function() {
    var question_w_org = $(this).data("question_w_org")
    // alert(question_w_org);
    
    $('html, body').animate({scrollTop:$('#'+question_w_org).position().top}, 'slow');
  });
</script>
</body>
</html>