<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= @test_session.session_date %></title>

  <!-- Bootstrap -->
  <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">

  <!-- Application Style -->
  <link href="css/the-migrator.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<%= erb :'views/test-sessions/nav_partial' %>

<%= erb :'views/test-sessions/temp_dump' %>

<div class="container l_semiwhite ruda400">
  <div class="row">
    <div class="col-md-12 l_20_bottom_margin">
      <h1 class="ruda900 l_no_bottom_margin">Test Session for <%= @test_session.session_date %></h1>
      <em>Verification Last Updated:</em> <%= Time.now.strftime('%l:%M:%S') %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <ul class="l_ul">
        <% @test_session.scheduled_organization_list.each do |organization_id| %>
            <li><a href="#" class="menu_item" id="menu_<%= organization_id %>" data-result="<%= organization_id %>">ORG ID: <%= organization_id %></a></li>
        <% end %>
      </ul>
      <hr>
      <button class="btn" href="/<%= @test_session.id %>/edit">edit</button>
      <form action="/<%= @test_session.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete">
      </form>

    </div>

    <div class="col-md-9">

      <% @test_session.scheduled_organization_list.each do |organization_id| %>
        <div class="results" id="result_<%= organization_id %>">
          <h2 class="ruda900 l_no_top_margin">ORG #<%= organization_id %> (ORG Name)</h2>
          <strong>Automatated Verification Phases Passed:</strong> 13/15<br><br>

          <em>Does the "keys report" have all Legacy/Scidea Diff checks set to OK?</em><br>
          Status<br><br>

          <em>Are the Global Key counts OK?</em><br>
          Status<br><br>

          <em>Does the "sco records report" have all Legacy/Scidea Diff checks set to OK?</em><br>
          Status<br><br>

          <em>Key sample investigation</em><br>
          Status<br><br>

          <em>Do all key admins have access to the OKM?</em><br>
          Status<br><br>

          <em>Is the subdomain correct?</em><br>
          Status<br><br>

          <em>AS ADMIN: Is the information in my profile accurate?</em><br>
          Status<br><br>

          <em>Can I click on all the main links without having a 500 error?</em><br>
          Status<br><br>

          <em>Can I navigate through all the keys states without having a 500 error?</em><br>
          Status<br><br>

          <em>Does global search function properly?</em><br>
          Status<br><br>

          <em>Has the key state script been properly run? Check in global search to make sure key states match.</em><br>
          Status<br><br>

          <em>Do groups seem consistent?</em><br>
          Status<br><br>

          <em>Do all users have profiles?</em><br>
          Status<br><br>

          <em>Do all users have course records?</em><br>
          Status<br><br>

          <em>Are there any 'inactive' key states?</em><br>
          Status<br><br>

          <em>Can users in progress at external courses continue where they left off externally?</em><br>
          Status<br><br>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<!--  Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Ruda:400,700,900' rel='stylesheet' type='text/css'>


<script>
  $( ".results" ).hide();

  $( ".menu_item" ).click(function() {
    $( ".results" ).hide();
    var result = $(this).data("result")
    $("#result_"+result).show();
  });
</script>

</body>
</html>